<h1>Your order summary</h1>

{{>addons noDeleteBtn=true}}
<!--W tym partialu dodajemy dodatkowa informacje w postaci true!-->
<a href="/order/thanks" class="btn btn-order"><img src="/assets/images/shopingCartpng.png" alt="Confirm Button"
                                                     class="cartImg">Confirm!</a>
{{>cookie-preview}}
{{> go-home}}
